<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title > Lista Doctores</title>
</head>
<body>
<header th:replace="fragments::header"></header>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista Doctores</h1>
        <div class="d-flex mt-3 mb-4">
            <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Especialidad</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.getId()}"></td>
                <td th:text="${doctor.getNombre()}"></td>
                <td th:text="${doctor.getEspecialidad()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
